/*
.navbar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#26A1B1', endColorstr='#143C4C');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#26A1B1', endColorstr='#143C4C')";
    background-image: -ms-linear-gradient(left, rgba(20, 60, 76, 0.9) 0%, rgba(38, 161, 177, 0.9) 100%);
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(20, 60, 76, 0.9)), color-stop(100%, rgba(38, 161, 177, 0.9)));
    background-image: -webkit-linear-gradient(left, rgba(20, 60, 76, 0.9), rgba(38, 161, 177, 0.9));
    background-image: -moz-linear-gradient(left, rgba(20, 60, 76, 0.9), rgba(38, 161, 177, 0.9));
    background-image: -o-linear-gradient(left, rgba(20, 60, 76, 0.9), rgba(38, 161, 177, 0.9));
    background-image: linear-gradient(to left, rgba(20, 60, 76, 0.9), rgba(38, 161, 177, 0.9));
}


.navbar-brand {
    width: 132px;
    height: 50px;
    background: url("/images/logo-tid-en.png") top center no-repeat;
}
 */


.navbar {
    margin-bottom: 0px;
    border: 0px;
}
/* Space out content a bit */
body {
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
